@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0; /* Zera a margem */
    padding: 0; /* define a distância entre o conteúdo de um elemento e suas bordas */
    box-sizing: border-box; /* usada p/ calcular larguras (widths) e alturas (heights) */
    font-family: 'Oxanium', cursive; /* Fonte */
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #eeece9, #cecccc);
    min-height: 100vh;
}

main{
    background-color: whitesmoke;
    display: inline-block; /* possui propriedades do bloco e inline */
    margin-top: 2%; /* distancia 2% do topo */
    padding: 15px;
    position: relative; /* as demais tags com posicao abosula, respeita mudanca */
}

.pokedex {
    width: 100%; /* ocupa todo o espaco disponivel no espaco usado */
    max-width: 425px; /* fixa o tamanho da imagem */
}

.pokemon__image {
    position: absolute;
    bottom: 62%; /* usar porcetagem ao inves de pixel pois a main e a pokedex caso tenha outro tamanho, a porcetagem acompanha */
    left: 40%;
    transform: translate(-10%, 05%); /* x, y posicao */
    height: 30%; /* Altura */
}

.pokemon__data {
    position: absolute;
    font-weight: 400;
    color: #aaa;
    top: 61%;
    left: 35%;
    font-size: clamp(8px, 2vw, 20px);  /* Recebe 3 valores min, mid, max */
}

.pokemon_name{
    color: #3a444d;
    text-transform: capitalize
}

.pokemon_number{
    color: #3a444d;
}

.test{
    top: 10%;
    left: 30%;
}

.form{
    /* Not necessary format
    position: absolute;
    background-color: gradient;
    whidth: 100%
    top: 10%;
    left: 30%; */
}

.input_search{
    margin-top: 2%;
    width: 50%;
    padding: 0,5%
    border: 3px solid #333;
    border-radius: 3px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 2vw, 20px);  /* get 3 values min, mid, max */
    box-shadow: -3px 4px 0 #888; /* x y sizeofshadow color*/
    text-align: center;
}

.buttons{
    /*margin-top: %;
    bottom: 50%;
    display: flex;
    width: 40%;
    margin: auto;
    position: absolute;
    text-align: center */

    text-align: center;

    width: 100%;
    height: 80%;

    /* display: flex;
    gap: 10px;
    transform: translate(-5%, 0) */
}

button{
    width: 50%;
    font-weight: 600
}

.button.active{
    background-color: gradient;
}