<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="icon" href="static/favicons/icon-pokemon-1616.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <main>

        <img src="{{photo}}" alt="pokemon" class="pokemon__image">

        <h1 class="pokemon__data">
            <label>{{number}}</label> -
            <label>{{name}}</label>
            
        </h1>

        <img src="static/images/pokedex6_resized.png" alt="Pokedex" class="pokedex">
    </main>
    <main2>

        <form class="form" action="search_page" method="POST">
            <input
                type="search"
                class="input_search"
                name="name_pokemon"
                placeholder="Name or Number"
                required
            />
        </form>

        <div class="buttons">

            <button class="button btn-prev">Prev </button>
            <button class="button btn-next">Next </button>
        </div>
    </main2>
</body>
</html>